.home__row {
    display: flex;
    flex-direction: row;

    text-align: center;
  
    margin: auto;
    
}

.image {

  height: auto;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  width: 40%;
}

.add__To_Cart {
    background-color: black;
    color: white;
}