.home__container {
    display: flex;
    flex-direction: row;
    width: 33.33%;
    text-align: center;;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 35%;
    padding-right: 30%;
    
    
}

.image {
  width: 100px;
  height: auto;  
}

