



.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
    
}

.title {
  display: flex;
  flex-wrap: wrap;
  padding-left: 38%;
  padding-top: 10%;
  font-size: medium;
}

.grid-product {
    text-align: center;
    font-size: 20px;
    flex: 0 0 33.333333%;
  

}

.cartbutton {
  background-color: black;
  color: white;
  width: 50%;
  height: auto;
  padding-top: 2%;
  transition-duration: 0.2s;
}

.cartbutton:hover {
  background-color: white;
  color: black;
}



.soap {
    width: 50%;
}