/* Add a black background color to the top navigation */
/* Style The Dropdown Button */
.dropbtn {
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 999;

}

.active {
  color: white;
  padding: 40px;
  font-size: 20px;

}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
 
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000; /* One more than the header. */
}
/* Links inside the dropdown */
.dropdown-content a {
 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; Remove this. */
  text-align: center;
  vertical-align: middle;
 
}

.navbar__Container {
  background-color: black;
  
}
